body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: aliceblue;
}

h1{
  font-size: 3rem;
}

.box{
  width: 20vw;
  display: block;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
}

input{
  margin: 20px;
}

button {
  color: aliceblue;
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
